.portfolio-section{
    width: 100%;
    position: relative;
    top: 7rem;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; //for firefox
    
}

@media screen and (max-width: 568px) {
    .portfolio-section{
      top:8rem;
      width: 95%;
    }
}