.portfolio-section{
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; //for firefox
    
}

@media screen and (max-width: 568px) {
    .portfolio-section{
      top:8rem;
    }
}