$mainColor: #15023a;

$width: 768px;

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
}

.portfolioList {
  font-size: 1.2rem;
  margin-right: 50px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;

  @include mobile{
    margin-right: 20px;
  }

  &.active {
    background-color: #ffd700;
    color: black;
    font-weight: 700;
  }
}
